name: Dependabot auto-merge
on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    name: Auto-merge Dependabot updates
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'kereis/traefik-certs-dumper'
    steps:
      - name: Create access token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: "kereis"
          repositories: |
            $GITHUB_REPOSITORY
  
      - name: Fetch metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2.3.0
        with:
          github-token: "${{ steps.app-token.outputs.token }}"

      - name: Authenticate GitHub CLI
        run: echo "${{ steps.app-token.outputs.token }}" | gh auth login --with-token
        
      - name: Enable auto-merge for pull request
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: "${{ github.event.pull_request.html_url }}"
